{% extends "layout.html" %}

{% block main %}
<form method="POST" action="/"> 
    <div class="form-group">
      <label for="name">Item Name</label>
      <input type="text" class="form-control" id="item_name" name="item_name" placeholder="Enter item name">
    </div>
    <div class="form-group">
        <label for="description">Item Description</label>
        <textarea class="form-control" id="item_description" name="item_description" rows="3" placeholder="Enter item description"></textarea>
    </div> <br />
    <div class="form-group">
        <label for="quantity">Enter Quantity</label>
        <input type="number" id="item_quantity" name="item_quantity" min="1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}